{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ - Siêu Tốc</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-50 text-gray-900">

    <div class="max-w-5xl mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Danh mục dịch vụ</h1>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-8">
            {% for category in categories %}
                <div class="bg-white rounded-lg shadow p-4 hover:bg-gray-100">
                    <a href="{% url 'category_detail' category.slug %}" class="text-lg font-semibold hover:text-blue-600">{{ category.name }}</a>
                    {% if service.image %}
                        <img src="{{ category.image.url }}" alt="{{ service.name }}" class="mt-2 rounded">
                        <p>{{ category.image.url }}</p>
                    {% endif %}                    

                </div>
            {% endfor %}
        </div>

        <h1 class="text-3xl font-bold mb-4">Sản phẩm phổ biến</h1>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {% for service in popular_services %}
                <div class="bg-white rounded-lg shadow p-4 hover:bg-gray-100">
                    <h2 class="text-lg font-semibold">{{ service.name }}</h2>
                    {% if service.image %}
                        <img src="{{ service.image.url }}" alt="{{ service.name }}" class="mt-2 rounded">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>
